*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}


.header{
  position: absolute;
  height: 80px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px; 
}

.header-nav{
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  
  color: #2196F3;
  
}
.header-item{
  height: 48px;
  width: 294px;
  left: 453px;
  top: 32px;
  border-radius: 2px;
}

.header-li:hover .header-item {
  color: #2196F3;
  background: red;
}

header ul li p:hover {
  color: #2196F3;
}
.header-link{
  position: absolute; 
  width: 77px;
  height: 16px;
  left: 453px;
  top: 32px;
}
p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-li{
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-ul{
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  color: #212121;
}

.header-a{
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-t{
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}








.header-img {
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}




button:active {
  color: rgb(248, 244, 244);
  background-color: #2196F3;

}




















.footer{
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;  
  background: #2F303A;
}

.footer-nav{
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 50px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  
  letter-spacing: 0.03em;
  
  color: #2196F3; 
}

.footer_link{
  position: center;
  width: 231px;
  height: 81px;
  left: 215px;
  top: 139px;
}

.footer-li{
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 100px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}

.footer-a{
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 120px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}

.footer-t{
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 140px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6); 
}










.social{
  position: absolute;
  width: 206px;
  height: 80px;
  left: 516px;
  top: 1703px;
}

 .footer-i{
  position: absolute;
  width: 145px;
  height: 16px;
  left: -10px;
  top: -20px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #f5f1f1;
} 

 .social-links{
  position: absolute;
  width: 206px;
  height: 44px;
  left: -520px;
  top: -1700px;  
}

.social-links-inst{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 516px;
  top: 1739px;
}
.fa.fa-instagram{
  position: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: rgba(255, 255, 255, 0.1);
}

.social-links-twit{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 570px;
  top: 1739px;
}
.fa .fa-twitter-square{
  position: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #2196F3;
}

.social-links-face{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 624px;
  top: 1739px; 
}
.fa .fa-facebook-official{
  position: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: rgba(255, 255, 255, 0.1);
}

.social-links-link{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 678px;
  top: 1739px; 
}
.fa .fa-linkedin{
  position: center;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: rgba(255, 255, 255, 0.1);
}









.footer3{
  position: absolute;
  /* width: 570px; */
  height: 86px;
  left: 115px;
  top: -20px;
}

.footer_ul{
  position: absolute;
  width: 219px;
  height: 16px;
  left: 815px;
  top: 1700px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
}


.footer-label{
  box-sizing: border-box;

  position: absolute;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 1736px;
  
  border: 1px solid rgba(254, 235, 235, 0.3);
  filter: drop-shadow(0px 4px 4px rgb(238, 230, 230));
  border-radius: 4px;
}

.footer-button{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 1736px;
  
  background: #2196F3;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
  border-radius: 4px;
}