*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

.header{
  position: absolute;
  height: 80px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: [object Object]px; 
}

.header-nav{
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  
  color: #2196F3;
}
.header-item{
  height: 48px;
  width: 294px;
  left: 453px;
  top: 32px;
  border-radius: 2px;
  
}
.header-link{
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 27px;
}

.header-li{
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196F3;
}

.header-ul{
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  
  color: #212121;
}

.header-a{
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-t{
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}
.btn .btn-primary{
  position: center;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}
.btn .btn-light{
  position: center;
  width: 84px;
  height: 26px;
  left: 598px;
  top: 180px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  
  letter-spacing: 0.03em;
  
  color: #212121;
}

.header-img{
  position: absolute;
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

.footer{
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;  
  background: #2F303A;
}

.footer-nav{
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 50px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  
  letter-spacing: 0.03em;
  
  color: #2196F3; 
}

.footer_link{
  position: center;
  width: 231px;
  height: 81px;
  left: 215px;
  top: 139px;
}

.footer-li{
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 100px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}

.footer-a{
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 112px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
}

.footer-t{
  position: absolute;
  width: 231px;
  height: 21px;
  left: 215px;
  top: 122px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6); 
}
















.footer-i{
  position: absolute;
  width: 145px;
  height: 16px;
  left: 516px;
  top: 1703px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.footer-fo-fa{
  position: center;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
}

.footer-fa{
  position: absolute;
  width: 2000px;
  height: 80px;
  left: 516px;
  top: 1730px;
}

/* .fa .fa-instagram{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 20px;
  top: 1739px; 
}

.fa .fa-twitter-square{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 30px;
  top: 1739px;
  
} */

.fa .fa-facebook-official{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 40px;
  top: 1739px;
}

.fa .fa-linkedin{
  position: absolute;
  width: 44px;
  height: 44px;
  left: 50px;
  top: 1739px;
}




















.footer_ul{
  position: absolute;
  width: 219px;
  height: 16px;
  left: 815px;
  top: 1700px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
}


.footer-label{
  box-sizing: border-box;

  position: absolute;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 1736px;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgb(255, 255, 255));
  border-radius: 4px;
}

.footer-button{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 1736px;
  
  background: #2196F3;
  box-shadow: 0px 4px 4px rgb(243, 240, 240);
  border-radius: 4px;
}